/* General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --primary : #127EB1;
    --dark: #212121;
    --secondary:#fff;
    --tertiary: #FFBB47;
    --shadow-color: rgba(0,0,0,0.1);
}

.serif{
    font-family: 'Libre Baskerville', serif;
}

.sans-serif{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,p,input[type=text], span, li, a, label, input[type=email], textarea{
    color: var(--dark);
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark);
    font-family: 'Open Sans', sans-serif;
}
.p20{
    padding-top: 20px;
    padding-bottom:20px
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorPrimary{
    color:var(--primary)
}
.colorSecondary{
    color: var(--secondary)
}
.tertiaryBackground{
    position: relative;
    font-style: italic;
    color: var(--dark);
    font-weight: 600;
    display: inline-block;
    word-break: break-word;
    white-space: normal;
}

.tertiaryBackground::after {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40%;
    width: 100%;
    transform: rotate(2deg);
    padding:0 2px;
    text-align: center;
    background: var(--tertiary);
}
.icon{
    width: 15px;
    height: 15px;
    vertical-align: -0.125em;
    margin-right: 10px;
}

/* Header Styles */
header{
    position: fixed;
    width: 100%;
    max-width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: var(--secondary);
    box-shadow: 0 0.5rem 2rem var(--shadow-color);
}

header #hamburger-menu{
    display: none;
}

header nav ul{
    display: flex;
    align-items: center;
    font-size: 14px;
}

header nav ul li{
    margin-left: 30px
}

.btn{
    padding: 5px 10px;
    border-radius: 3px;
}
.btn-primary{
    background-color: var(--primary);
    color: white;
    font-size: 14px;
}



.link:hover{
    border-bottom: 2px solid var(--tertiary);
    border-radius: 1px;
}


/* Banner Styles */
.banner{
    margin-top: 50px;
}

.p150{
    padding: 150px 0;
}
.main-content h1{
    font-size: 54px;

}
.main-content h1.colorPrimary{
    margin-bottom: 10px;
}

.grid{
    display: grid;
    
    align-items: center;
    justify-content: center;
}
.bannerWrapper{
    grid-template-columns: 1fr 1fr;
}
.bannerImage img{
    max-width: 100%;
    max-height: 100%;
}


/* About Me */
.aboutMe {
    text-align:center;
}
.p100{
    padding-top: 100px;
}
.description{
    line-height: 2;
}
.content h1{
    margin-bottom: 20px;
}

.content p{
    margin-bottom: 20px;
    line-height: 1.7;
}

.content p:last-child{
    margin-bottom: 50px;
}
.buttons a{
    margin-right: 20px;
}

.btn-primary:hover{
    box-shadow: 0px 5px 8px rgba(18, 126, 177, 0.3);
    -webkit-box-shadow: 0px 5px 08px rgba(18, 126, 177, 0.3);
    -moz-box-shadow: 0px 5px 8px rgba(18, 126, 177, 0.3);
    position: relative;
    z-index: 999999;
}
.btn-secondary{
    border: 1px solid var(--tertiary);
    transition: 0.2s ease-in-out;
    font-size: 14px;
}
.btn-secondary:hover{
    color: white;
    background-color: var(--tertiary);
}
.buttons{
    margin-bottom: 20px;
}
/* Stack component */
.p50{
    padding:50px;
}
.stack{
    text-align: center;
    background-color: var(--white);
    padding-bottom: 100px;
}

.stack .content h1{
    margin-bottom: 20px;
    
}

.content  h3{
    color: var(--primary)
}

/* Projects Section */
.projects{
    text-align: center;
}
.projects .mb50{
    margin-bottom: 50px;
}
.project{
    text-align: center;
    margin-bottom: 70px;
}
.project h3{
    margin-bottom: 50px;
}
.project-details{
    grid-template-columns: 1fr 1fr;
    grid-gap:50px;
    justify-items: end;
}
.project-details .projectImg{
    width: 90%;
}
.project-description{
    line-height: 1.5;
}
.project-description .project-stack {
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

.tag{
    font-size:12px;
    padding:2px 8px;
    background-color: rgba(255, 187, 71, 1);
    color: white;
    margin-left: 20px;
    border-radius:10px;
}
.tag:first-child{
    margin-left: 0px;
}


/* contact us */
.contactUs{
    margin-bottom: 100px;
}
.contactUs h1{
    margin-bottom: 70px;
    text-align: center;
}
.contactUs-container{
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}
.contactUs-container img{
    width: 90%;
}
form button{
    border: none;
    outline: none;
    cursor: pointer;
}
.formElement-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}
.formElement{
    margin-bottom: 20px;
}

form input[type=text], form input[type=email], textarea{
    border:none;
    background-color: rgba(18, 126, 177, 0.1);
    outline: none;
    padding: 5px 7px;
}

.formElement:last-child{
    grid-column: 1/3;
    margin-bottom: 20px;
}

form label{
    font-size: 14px;
}

textarea{
    resize: none;
    width: 80%;
   
    background-color: rgba(18, 126, 177, 0.1);
}
.feedBack p {
    width: 80%;
    font-size: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    /* background-color: lightgreen; */
    color: white;
    font-weight: bold;
    display: none;
}

.gridImage{
    width:90%
}

button .icon{
    width: 15px;
    height: 15px;
    vertical-align: -0.125em;
    margin-right: 10px;
    fill:white
}
.error{
    color: #ff165d;
    font-weight: normal;
}



/* footer */
footer{
    background-color: var(--primary);
    padding: 20px 0;
    text-align: center;
}
.footerContent{
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.footerContent h3, .footerContent p{
    color: white;
}
.sm{
    font-size: 12px;
    letter-spacing: 1px;
}
.icon30{
    width: 30px;
    height: 30px;
}

.loader{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.none{
    display: none;
}



/* Hamburger Code */
  





/* Media Queries */
@media only screen and (max-width: 768px) {
    header nav ul li{
        font-size: 12px;
    }
    header ul li .btn{
        padding: 5px 8px;
    }
    
    header .topnav{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-content: space-between;
        
    }
    header .logo{
        grid-column: 1/2;
    }
    header #hamburger-menu{
        display: block;
        grid-column: 2/3;
    }
    header nav#myLinks{
        display: none;
        transition: 0.5s ease-in-out all;
    }
    
    header nav ul {
        transition: 1s ease-in-out all;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }   

    header nav ul li{
        margin-left: 0px;
        margin-bottom:10px;
    }
    header nav ul li:first-child{
        margin-top: 10px;
    }
    header nav ul li:last-child{
        margin-bottom: 0px;
    }

    .p150{
        padding: 100px 0;
    }
    .main-content h1 {
        font-size: 24px;
    }
    .main-content p{
        font-size: 14px;
    }
    .p100{
        padding-top: 50px;
    }
    .aboutMe{
        padding-top: 0px;
    }
    .aboutMe h1{
        font-size: 24px;
    }
    .description{
        line-height: 1.7;
        font-size: 14px;
    }
    .projects h1{
        font-size: 24px;
    }
    .content h1{
        margin-bottom: 0px;
    }
    .project{
        margin-bottom: 30px;
    }
    .project h3{
        margin-bottom: 30px;
    }
    .projects .mb50{
        margin-bottom: 20px;
    }
    .project-details{
        display: flex;
        flex-direction: column;
        
    }
    .project-description{
        font-size: 14px;
    }
    .buttons .btn{
        padding: 5px 8px;
    }
    .buttons a{
        margin-right: 10px;
    }
    .btn{
        font-size: 12px;
    }

    .reverseCol{
        flex-direction: column-reverse;
    }

    .contactUs h1{
        font-size: 24px;
        margin-bottom: 50px;
    }
    .formElement-wrapper{
        grid-gap:10px
    }
    .contactUs-container {
        grid-template-columns: none;
    }
    form label{
        font-size: 12px
    }
    .formElement{
        margin-bottom: 10px;
    }
    textarea{
        width: 100%;
    }
    .contactUs{
        margin-bottom: 50px;
    }
    .footerContent{
        font-size: 14px;
    }
    .footerContent h3{
        font-size: 16px;
    }
    .socialLinks .icon{
        width: 20px;
        height: 20px;
    }
  }
