<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Mohsin Sajan | Home</title>
</head>
<body>
    <header class="p20">
        <div class="container flex topnav">
            <div class="logo">
                <h3 class="serif">MOHSIN</h3>
            </div>
            <a href="#" id='hamburger-menu'><i class="fa fa-bars"></i></i>
            </a>
            <nav id="myLinks">
                <ul>
                    <li><a class="link" href="#aboutMe">About</a></li>
                    <li><a class="link" href="#projects">Projects</a></li>
                    <li class="cta"><a class='btn btn-primary' href="#contactMe"><span><img class="icon" src="{{url_for('static',filename='assets/contact4.svg')}}" alt=""></span>Contact Me</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <div class="banner">
        <div class="container grid bannerWrapper">
            <div class="main-content p150 serif">
                <h1 class="serif">Hi, I am</h1>
                <h1 class="colorPrimary serif">Mohsin Sajan</h1>
                <p class="sans-serif">A QA turned Full Stack Web Developer</p>
            </div>
            <div class="bannerImage">
                <img src="{{url_for('static',filename='assets/programmer2.svg')}}" alt="">
            </div>
        </div>
    </div>
    <div class="aboutMe p100" id='aboutMe'>
        <div class="container">
            <div class="content">
                <h1 class="serif">About Me</h1>
                <div class="description sans-serif">
                    <p> Hi, I am Mohsin Sajan, a QA turned self taught Full Stack Developer from India.</p>
                    <p> In my second year working as a QA I started learning Python for Automation and I found that I actually liked programming. 
                        I realized that I actually enjoyed the process of creating something of my own and thus started my journey into the programming world.
                        I started learning <span class="colorSecondary tertiaryBackground">HTML,CSS</span> and <span class="colorSecondary tertiaryBackground">JS</span> and started doing small projects like a Todo App and such. But it wasn't until 2020 that I decided to seriously consider moving into Web Development and started learning
                        and building some big projects.
                    </p>
                    <p> So far into my journey I have learnt <span class="colorSecondary tertiaryBackground">HTML CSS JS React</span> and <span class="tertiaryBackground colorSecondary">Django.</span>
                        Django was the first framework I learnt and I fell in love with it, hence I decided to improve my Django knowledge and learn how well I can integrate Django with React(another framework that I absolutely love). </p>
                    <h4 class="sans-serif">My Current Stack of Languages/Technologies</h4>
                    <h3>HTML5 - CSS3 - JAVASCRIPT - REACT - REDUX - FIREBASE - DJANGO - POSTGRESQL</h3>

                    <br>
                </div>
            </div>
            <div class="buttons">
                <a href="#" class="btn btn-primary"><span><img class="icon" src="{{url_for('static',filename='assets/download.svg')}}" alt=""></span>Download CV</a>
                <a href="#projects" class="btn btn-secondary"><span><img class="icon" src="{{url_for('static',filename='assets/view.svg')}}" alt=""></span>View Projects</a>
            </div>
        </div>
    </div>
    <div class="projects p100" id="projects">
        <div class="container content">
            <h1 class="serif">Projects</h1>
            <p class="mb50">so far ... </p>
            <div class="projects-section">
                <div class="project">
                    <h3 class="serif">Blog App</h3>
                    <div class="project-details grid">
                        <img class='gridImage' src="{{url_for('static',filename='assets/blog.PNG')}}" alt="">
                        <div class="project-description">
                            <p>A Blog app created with Django in the backend and Vanilla JS in the front end.
                                This app has login and signup features and complete with CRUD funciontality.
                                The blogs and user data is stored in SQLite Db and the app is hosted on Heroku
                            </p>
                            <span class='project-stack'><span class='tag'>HTML5</span><span class='tag'>CSS3</span><span class='tag'>Vanilla JS</span><span class='tag'>Django</span></span>
                            <div class="buttons">
                                <a href="http://djangonautic-mosys.herokuapp.com/" target="_blank" class="btn btn-primary"><span><img class="icon" src="{{url_for('static',filename='assets/link.svg')}}" alt=""></span>VIEW PROJECT</a>
                                <a href="https://github.com/ms394/djangonautic" target="_blank" class="btn btn-secondary"><span><img class="icon" src="{{url_for('static',filename='assets/github.svg')}}" alt=""></span>VIEW SOURCE CODE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="project">
                    <h3 class="serif">Social Media App</h3>
                    <div class="project-details reverseCol grid">
                        <div class="project-description">
                            <p>
                                This is the project that I am most proud of. This is a Social Media clone built using React, where a user can sign up and post image/text. User can view other 
                                users posts as well and like and comment on the post and get notified when other like or comment on his posts.
                                The React front end is hooked to Firebase, which also handles the authentication.Redux is also used to handle to state in the app. The app is hosted on Firebase.
                            </p>
                            <span class='project-stack'><span class='tag'>HTML5</span><span class='tag'>CSS3</span><span class='tag'>React</span><span class='tag'>REDUX</span><span class='tag'>FIREBASE</span></span>
                            <div class="buttons">
                                <a href="https://testproject-4d5e0.web.app/" target="_blank" class="btn btn-primary"><span><img class="icon" src="{{url_for('static',filename='assets/link.svg')}}" alt=""></span>VIEW PROJECT</a>
                                <a href="https://github.com/ms394/react-socialMedia" target="_blank" class="btn btn-secondary"><span><img class="icon" src="{{url_for('static',filename='assets/github.svg')}}" alt=""></span>VIEW SOURCE CODE</a>
                            </div>
                        </div>
                        <img class='gridImage' src="{{url_for('static',filename='assets/socialMedia.PNG')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contactUs p100" id='contactMe'>
        <div class="container">
            <h1 class="serif">Contact Me</h1>
            <div class="contactUs-container grid">
                <img class='gridImage'src="{{url_for('static',filename='assets/contact.svg')}}" alt="">
                <form novalidate method="POST">
                    <div class="formElement-wrapper">
                        <div class="formElement">
                            <label for="name">Name</label><br>
                            <input required type="text" id='name'><br>
                            <span class="sm error" id='name-error'></span>
                        </div>
                        
                        <div class="formElement">
                            <label for="email">Email</label><br>
                            <input required type="email" id='email'><br>
                            <span class="sm error" id='email-error'></span>
                        </div>
                        
                        <div class="formElement">
                            <label for="message">Message</label><br>
                            <textarea  required rows="10" cols="30" id='message'></textarea><br>
                            <span class="sm error" id='message-error'></span>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary"><span><img class="icon" src="{{url_for('static',filename='assets/send.svg')}}" alt=""></span>SEND MESSAGE</button>
                    <div class="feedBack">
                        <p>Thank You for reaching out! I will get back to you soon.</p>
                    </div>
                </form>

            </div>
        </div>
        

    </div>
    <footer>
        <div class="container">
            <div class="footerContent flex">
                <p class="sm">COPYRIGHT © 2021, MOHSIN</p>
                <div class="socialLinks">
                    <a href="https://github.com/ms394" target="_blank" ><span><img class='icon icon30' src="{{url_for('static',filename='assets/github2.svg')}}" alt=""></span></a>
                    <a href="#" target="_blank"><span><img class='icon icon30' src="{{url_for('static',filename='assets/linkedin.svg')}}" alt=""></span></a>
                </div>
            </div>
            
        </div>
    </footer>
    <div class="loader none">
        <img src="{{ url_for('static', filename='assets/ajax-loader.gif') }}" alt="">
    </div>
</body>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>